<app-header></app-header>

<router-outlet></router-outlet>

<div class="loader" *ngIf="isLoading">
  <app-scaling-squares-spinner
  [animationDuration]="1250"
  [size]="65"
  [color]="'#ff1d5e'"
  ></app-scaling-squares-spinner>
</div>
