.channel {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid red;
  user-select: none;
  cursor: pointer;

  &_active {
    background-color: pink;
  }

  &__logo {
    width: 50px;
  }

  &__name {
    font-weight: bold;
  }
}
