<div class="channel" (click)="loadTvshows()" [class.channel_active]="isActive">
  <span>{{ num }}</span>
  <img class="channel__logo" [src]="channel.logo" alt="">
  <span class="channel__name">{{ channel.name }}</span>
</div>
